<a href="https://colab.research.google.com/github/AbhishekJoshi93/DS/blob/master/DS_PR2_18IT041.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Loading Dataset

In [2]:
data = pd.read_csv('/content/data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15210 entries, 0 to 15209
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           15210 non-null  float64
 1   latitude            15210 non-null  float64
 2   housing_median_age  15210 non-null  float64
 3   total_rooms         15210 non-null  float64
 4   total_bedrooms      15062 non-null  float64
 5   population          15210 non-null  float64
 6   households          15210 non-null  float64
 7   median_income       15210 non-null  float64
 8   median_house_value  15210 non-null  float64
 9   ocean_proximity     15209 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.2+ MB

In [3]:
data.head(10)

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY
5    -122.25     37.85  ...            269700.0         NEAR BAY
6    -122.25     37.84  ...            299200.0         NEAR BAY
7    -122.25     37.84  ...            241400.0         NEAR BAY
8    -122.26     37.84  ...            226700.0         NEAR BAY
9    -122.25     37.84  ...            261100.0         NEAR BAY

[10 rows x 10 columns]

## Encoding Technique

In [4]:
from sklearn.preprocessing import LabelEncoder
data['median_house_value'].value_counts()

500001.0    619
137500.0     97
162500.0     94
112500.0     75
187500.0     69
           ...
409000.0      1
232300.0      1
358100.0      1
338100.0      1
432100.0      1
Name: median_house_value, Length: 3525, dtype: int64

In [5]:
le=LabelEncoder()
data['median_house_value']=le.fit_transform(data['median_house_value'])
data['median_house_value'].value_counts()

3524    619
937      97
1187     94
688      75
1437     69
       ...
3242      1
3250      1
3258      1
3274      1
0         1
Name: median_house_value, Length: 3525, dtype: int64

In [6]:
le.classes_

array([2.30000e+01, 1.49990e+04, 1.75000e+04, ..., 4.99100e+05,
       5.00000e+05, 5.00001e+05])

## Normalization & Standardization

In [7]:
numeric_columns = [c for c in data.columns if data[c].dtype != np.dtype('O')]
numeric_columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [8]:
len(numeric_columns) , len(data.columns)

(9, 10)

In [9]:
numeric_columns.remove('longitude')
numeric_columns.remove('latitude')

temp_data = data[numeric_columns]
temp_data

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                    41.0        880.0  ...         8.3252                3380
1                    21.0       7099.0  ...         8.3014                2921
2                    52.0       1467.0  ...         7.2574                2876
3                    52.0       1274.0  ...         5.6431                2795
4                    52.0       1627.0  ...         3.8462                2801
...                   ...          ...  ...            ...                 ...
15205                 5.0       5870.0  ...         5.1998                2433
15206                 9.0       2470.0  ...         4.4219                1649
15207                 4.0       6242.0  ...         4.2500                2323
15208                 4.0       9153.0  ...         4.9550                1967
15209                 5.0       5659.0  ...         6.1949                   0

[15210 rows x 7 columns]

## 1. Normalization

In [10]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler
import warnings
warnings.filterwarnings('ignore')
normalizer = MinMaxScaler()
temp_data.dropna(axis = 1 , inplace = True)
normalized_data = normalizer.fit_transform(temp_data)
pd.DataFrame(normalized_data , columns = temp_data.columns)

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                0.784314     0.022331  ...       0.539668            0.959137
1                0.392157     0.180503  ...       0.538027            0.828888
2                1.000000     0.037260  ...       0.466028            0.816118
3                1.000000     0.032352  ...       0.354699            0.793133
4                1.000000     0.041330  ...       0.230776            0.794835
...                   ...          ...  ...            ...                 ...
15205            0.078431     0.149245  ...       0.324127            0.690409
15206            0.156863     0.062770  ...       0.270479            0.467934
15207            0.058824     0.158706  ...       0.258624            0.659194
15208            0.058824     0.232743  ...       0.307244            0.558173
15209            0.078431     0.143878  ...       0.392753            0.000000

[15210 rows x 6 columns]

## 2. Standardization

In [11]:
standard_scaler = StandardScaler()
standardized_data = standard_scaler.fit_transform(temp_data)
pd.DataFrame(standardized_data , columns = temp_data.columns)

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                0.973698    -0.776039  ...       2.394548            2.067873
1               -0.643594     1.967562  ...       2.381946            1.573426
2                1.863208    -0.517075  ...       1.829125            1.524951
3                1.863208    -0.602220  ...       0.974317            1.437695
4                1.863208    -0.446489  ...       0.022819            1.444158
...                   ...          ...  ...            ...                 ...
15205           -1.937427     1.425371  ...       0.739580            1.047739
15206           -1.613969    -0.074588  ...       0.327665            0.203192
15207           -2.018292     1.589484  ...       0.236640            0.929244
15208           -2.018292     2.873713  ...       0.609953            0.545750
15209           -1.937427     1.332285  ...       1.266508           -1.573157

[15210 rows x 6 columns]

## Handling With Missing Values

In [12]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        148
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         1
dtype: int64

In [13]:
data['total_bedrooms'].isnull().sum()

148

In [14]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan , strategy='mean')
agent_col = imputer.fit_transform(data['total_bedrooms'].values.reshape(-1,1))
pd.DataFrame(agent_col).isnull().sum()

0    0
dtype: int64

In [15]:
data['total_bedrooms'].isnull().sum()

148

## Discretization

In [16]:
from sklearn.preprocessing import KBinsDiscretizer
temp_data.head()

   housing_median_age  total_rooms  ...  median_income  median_house_value
0                41.0        880.0  ...         8.3252                3380
1                21.0       7099.0  ...         8.3014                2921
2                52.0       1467.0  ...         7.2574                2876
3                52.0       1274.0  ...         5.6431                2795
4                52.0       1627.0  ...         3.8462                2801

[5 rows x 6 columns]

In [17]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='kmeans')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                     7.0          0.0  ...            6.0                 9.0
1                     3.0          4.0  ...            6.0                 8.0
2                     9.0          1.0  ...            6.0                 8.0
3                     9.0          0.0  ...            4.0                 7.0
4                     9.0          1.0  ...            3.0                 7.0
...                   ...          ...  ...            ...                 ...
15205                 0.0          4.0  ...            4.0                 7.0
15206                 1.0          2.0  ...            3.0                 5.0
15207                 0.0          4.0  ...            3.0                 6.0
15208                 0.0          5.0  ...            4.0                 5.0
15209                 0.0          4.0  ...            5.0                 0.0

[15210 rows x 6 columns]